<form action="/course/add" method="post">
    <p>
        <lable>Course Name</lable><input value="" name="courseName"/><br/>
        <lable>Course Duration</lable><input value="" name="courseDuration"/><br/>
        <lable>Course Fees</lable><input value="" name="courseFees"/><br/>
        <button type="submit">Add Course</button>
    </p>
</form>